<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>

    <style>
      input { display: block; margin: 0.5rem; }
    </style>

  </head>
  <body>
    <form method='GET' action='/process'>
      <input name='name' placeholder='Имя Фамилия' />
      <input name='EMAIL' type='email' placeholder='Email' />
      <input
        name='PHONE'
        type='tel'
        placeholder='Телефон'
        pattern='[+]?[0-9]{7,11}'
        title='Допустимые символы: +0...9'
        required='required'
      />

      <button type='submit'>Отправить</button>

    </form>
  </body>
</html>